# Build output
bin/
obj/

# Logs
*.log

# User-specific files
*.user
*.suo
*.vs/

# Configuración local sensible
appsettings.Development.json
.env

# Rider / VS Code / JetBrains
.vscode/
.idea/

# Otros
*.DS_Store
node_modules
dist
.vscode
.env
npm-debug.log
**/node_modules