version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  front:
    build:
      context: .
      dockerfile: Dockerfile.front.prod
    ports:
      - "80:80"
    depends_on:
      - api
